---
/* interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props; */
---

<div id="experiencie" class="purple">

</div>
<style lang="less">
    #experiencie {
        height: 50rem;
        background-image: url("images/rectangle.svg");
    }
</style>