---
import MobileHeader from "./MobileHeader.astro";
---

<div id="header" class="blur">
  <div class="section-container row font-regular">
    <div class="logo f-40 font-gradient font-bold">TA</div>
    <div class="navbar row">
      <span class="navbar-item f-30" onclick="scrollToSection('hero');">Home</span>
      <span class="navbar-item f-30" onclick="scrollToSection('experiencie');">Experiencia</span>
      <span class="navbar-item f-30" onclick="scrollToSection('proyects',150);">Proyectos</span>
      <span class="navbar-item f-30" onclick="scrollToSection('skills', 400);">Skills</span>
      <span class="navbar-item f-30" onclick="scrollToSection('about');">Sobre mi</span>
      <span class="navbar-item f-30" onclick="scrollToSection('form',150);">Contacto</span>
    </div>
    <div class="lang f-30">EN</div>
    <MobileHeader />
  </div>
</div>

<style lang="less">
  #header {
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index: 1;
    background-color: transparent;
    top: 0;
    &.blur {
      backdrop-filter: blur(14px);
    }
    .section-container {
      justify-content: space-between;
      height: 100%;
      align-items: center;
      .navbar {
        .navbar-item {
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 2.5rem;
          }
        }
      }
    }
    @media (max-width: 551px) {
      .section-container {
        .navbar,
        .lang {
          display: none;
        }
      }
    }
  }
</style>
