---
import { Image } from "astro:assets";
import mainPhoto from "../images/main-photo.png";
import shapeRight from "../images/Shape1.svg";
import shapeLeft from "../images/Shape2.svg";
import MainButton from "./MainButton.astro";

/* interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props; */
---

<div id="hero" class="basic-bg">
  <Image class="shape-left" src={shapeLeft} alt="Main photo portfolio" />
  <Image class="shape-right" src={shapeRight} alt="Main photo portfolio" />
  <div class="row section-container">
    <div class="text-container col">
      <h1 class="font-bold f-80">
        Welcome to my <br /><span class="font-gradient">Portfolio</span><br />
         My name is <br /><span class="font-gradient">Tomás</span>
      </h1>
      <MainButton title="Download cv" href="dw" />
    </div>
    <Image class="main-photo" src={mainPhoto} alt="Main photo portfolio" />
  </div>
</div>
<style lang="less">
  #hero {
    width: 100%;
    height: 100vh;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background-image: url("images/tillhome-left.svg");
      height: 100%;
      left: 0;
      top: 0;
      width: 30vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    &:before {
      content: "";
      position: absolute;
      background-image: url("images/tillhome-right.svg");
      height: 100%;
      right: 0;
      top: 0;
      width: 30vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    .shape-right {
      position: absolute;
      right: 0;
      top: 32rem;
      z-index: -1;
      width: 32vw;
    }
    .shape-left {
      position: absolute;
      left: 0;
      top: -32rem;
      z-index: -1;
      width: 47vw;
    }
    .row {
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .main-photo {
        width: 45%;
        height: auto;
        max-width: 60rem;
        min-width: 30rem;
      }
    }
    @media (max-width: 850px) {
      height: 72vh;
      .row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        .text-container {
          align-items: center;
        }
      }
    }
    @media (max-width: 551px) {
      .shape-left {
        width: 80vw;
      }
      .shape-right {
        top: -18rem;
        width: 46vw;
      }
      .row {
        .text-container {
        }
      }
    }
  }
</style>
