---

---

<div id="menu">
  <div id="menu-bar">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>
  <nav class="nav" id="nav">
    <div class="ul">
      <span class="li f-30">Home</span>
      <span class="li f-30">Experiencia</span>
      <span class="li f-30">Skills</span>
      <span class="li f-30">Proyectos</span>
      <span class="li f-30">Sobre mi</span>
      <span class="li f-30">Contacto</span>
    </div>
  </nav>
</div>

<div class="menu-bg" id="menu-bg"></div>

<script>
  if (window.innerWidth < 558) {
    const elementoHtml = document.documentElement;
    const header = document.getElementById("header");

    const open = () => {
      document.getElementById("menu-bar").classList.toggle("change");
      document.getElementById("nav").classList.toggle("change");
      document.getElementById("menu-bg").classList.toggle("change-bg");
      document.getElementById("header").classList.toggle("blur");
      elementoHtml.classList.toggle("overflowHide");
    };

    document.getElementById("menu-bar").onclick = open;

    const handleScroll = () => {
      const menuBubble = document.getElementById("menu-bg");
      const isMenuBubbleChanged = menuBubble.classList.contains("change-bg");
      const shouldBlur = window.scrollY > 0 && !isMenuBubbleChanged;

      header.classList.toggle("blur", shouldBlur);
    };

    window.addEventListener("scroll", handleScroll);
  }
</script>

<style lang="less">
  #menu {
    z-index: 2;
    top: 4rem;
    right: 3rem;
    position: absolute;
  }

  #menu-bar {
    width: 5.8rem;
    cursor: pointer;
  }

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;

    .ul {
      text-align: end;
      position: absolute;
      right: 0;
      top: 7rem;
      display: flex;
      flex-direction: column;

      .li {
        text-transform: uppercase;
        list-style: none;
        text-shadow: 1px 1px 0px black;
        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        a {
          font-size: 20px;
          text-decoration: none;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  .menu-bg {
    top: -2rem;
    right: 3rem;
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: linear-gradient(90deg, #ae2ff685 22%, #6668ebc7 100%);
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }

  .change {
    display: block;

    .bar {
      background-color: white;
    }

    #bar1 {
      transform: translateY(1px) rotateZ(-45deg);
    }

    #bar2 {
      opacity: 0;
    }

    #bar3 {
      transform: translateY(-5px) rotateZ(45deg);
    }
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(60%, -28%);
    backdrop-filter: blur(6px);
  }

  @media (min-width: 551px) {
    #menu {
      display: none;
    }
  }
</style>
