---
import SectionTitle from "./SectionTitle.astro";
import proyectVideo from "../videos/dummy.mp4";
---

<div id="proyects" class="section-container">
  <SectionTitle title="Proyects" position="end" />
  <div class="container">
    <a href="http://localhost:4321/proyect">
      <figure>
        <video 
        id="test"
        muted
        style="view-transition-name: video-persist;"
        transition:name="hero" 
        autoplay
        playsinline
        loop 
        >
          <source
            src={proyectVideo}
            type="video/mp4"
          />
        </video>
        <img
          src="https://assets.codepen.io/12005/windmill.jpg"
          alt="A windmill"
        />
      </figure>
    </a>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/suspension-bridge.jpg"
        alt="The Clifton Suspension Bridge"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/sunset.jpg"
        alt="Sunset and boats"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/snowy.jpg"
        alt="a river in the snow"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/bristol-balloons1.jpg"
        alt="a single checked balloon"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/dog-balloon.jpg"
        alt="a hot air balloon shaped like a dog"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/abq-balloons.jpg"
        alt="View from a hot air balloon of other balloons"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/disney-balloon.jpg"
        alt="a balloon fairground ride"
      />
    </figure>
    <figure class="border-gradient">
      <img
        src="https://assets.codepen.io/12005/bristol-harbor.jpg"
        alt="sunrise over a harbor"
      />
    </figure>
  </div>
</div>
<style lang="less">
  #proyects {
    img {
      max-width: 100%;
      display: block;
    }
    figure {
      padding: 1rem;
      background: transparent;
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 3rem;
      border-radius: 0.5rem;
      position: relative;
      cursor: pointer;
      transition: box-shadow 0.1s ease-in-out;
      video {
        padding: 1rem;
        background: transparent;
        width: 96%;
        height: 96%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(90deg,rgb(226 59 59 / 38%) 0%,rgb(174 47 246 / 39%) 100%); */
        background: #ad2ff669;
        left: 0;
        top: 0;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
      }
      > img {
        grid-row: 1 / -1;
        grid-column: 1;
      }
      &:hover {
        box-shadow: 0px 4px 19px 8px rgba(173, 47, 246, 0.584);
        &::after {
          opacity: 1;
        }
      }
    }
    .container {
      column-count: 3;
      column-gap: 3rem;
    }
    @media (max-width: 551px) {
      figure {
        margin-bottom: 1rem;
      }
      .container {
        column-count: 2;
        column-gap: 1rem;
      }
    }
    view-timeline-name: --aos;
    view-timeline-axis: block;
    animation-timeline: --aos;
    animation-name: aos;
    animation-range: entry 0% cover 60%;
    animation-fill-mode: both;

  }
</style>
